.admin-page {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    color: black;
    height: 70vh;
    background-color: rgb(60, 226, 255);
    font-weight: bold;





    .admin-page__logout {
        margin-left: $main-spacing;
    }
}