.messages {
    width: 100%;
    color: black;
    min-height: 70vh;
    background-color: rgb(60, 226, 255);
    font-weight: bold;

    .messages__container {


        .messages__list-element-container {
            display: flex;

            margin-bottom: $main-spacing;


            .messages__info-container {
                margin-left: $main-spacing;
                width: 80%;
                padding: $main-spacing*.2;
                background-color: rgb(255, 208, 119);

                .messages__email {
                    padding: 0 0 $main-spacing*.2 $main-spacing*.2;
                }

                .messages__message {
                    position: relative;
                    top: 0;
                    left: 0;
                    display: flex;
                    flex-direction: column;
                    border-top: 1px solid black;
                    max-width: 100%;
                    padding: $main-spacing*.3;
                    margin-bottom: $main-spacing*2;
                    word-wrap: break-word;


                    .messages__date {
                        position: absolute;
                        right: 0;
                        bottom: -$main-spacing*2;
                        max-width: $main-spacing*5;
                        padding: $main-spacing*.2;
                        color: white;
                        background-color: rgb(0, 0, 59);
                    }
                }
            }

            .messages__cancel-button {
                background-color: rgb(255, 60, 60);
                font-weight: bold;
                border: 1px solid black;
                margin-left: $main-spacing;
                width: $main-spacing*1.5;
                height: $main-spacing*1.5;
                border-radius: 5px;
            }
        }


    }
}