$base-font-size: 16px;
$small-font-size: 14px;
$main-color: rgb(80, 178, 248);
$body-main-color: rgb(32, 222, 255);

$main-spacing: 20px;

$breakpoins: (xs: 360px,
    sm: 480px,
    md: 640px,
    lg: 800px,
    xl:1280px,

);

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Francois One', sans-serif;
}

p,
a {
    font-family: 'Lato', sans-serif;
}