.message-pop-out-window__container {

    top: 0;
    left: 0;
    width: 80%;
    margin: $main-spacing*6 auto 0 auto;
    position: relative;
    background-color: white;
    border: 1px solid black;

    .message-pop-out-window__closing-button {
        color: white;
        background-color: black;
        border-radius: 50%;
        border: none;
        width: $main-spacing*2;
        height: $main-spacing*2;
        position: absolute;
        top: -$main-spacing;
        right: -$main-spacing;
    }

    .message-pop-out-window__text {
        font-weight: bold;
        line-height: $main-spacing*1.5;
        margin-top: $main-spacing*1.5;
        margin-bottom: $main-spacing*1.5;
        color: black;
        text-align: center;
        font-size: $base-font-size*1.5;

    }




}